
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');


.title{
    text-align: center;    
    color: #353535;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 35px;
}


.description{
    margin-left: 2%; 
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    text-align: left;
}

.imagen{
    width: 35%;
    margin: auto;
    display:block;

}

.whatis{
    margin-top: 4%;
    margin-bottom: 4%;
}

