.login-form {
    max-width: 300px;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}

.login-component {
    position: absolute;
    top: 20%;
    right: 5%;
}

.link{
    color: #005cb3;
}

.info-text {
    color:#000000;
}