.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background: transparent;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected>.anticon {
    font-size: 28px;
}
.ant-layout .ant-layout-content{
    margin-top: 0;
}

.ant-menu-inline-collapsed>.ant-menu-item {
    padding: 0 !important;
    text-align: center;
}


.login-component {
    position: absolute;
    top: 30%;
    right: 5%;
}

.logo {
    width: 120px;
    height: 31px;
    background: rgba(255,255,255,.2);  
    margin: 16px 24px 16px 0;
    float: left;
  }

.search{
    text-align: right;
}